In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from itertools import combinations
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1497,tt0457510,32000000,80197993,Nacho Libre,Jack Black|Ana de la Reguera|HÃ©ctor JimÃ©nez|...,Jared Hess,He's not lean. He's not mean. He's nacho avera...,Nacho Libre is loosely based on the story of F...,92,Comedy|Family,Paramount Pictures|Nickelodeon Movies|Black & ...,6/16/2006,5.5,2006
298,tt0473705,60000000,87784194,State of Play,Russell Crowe|Ben Affleck|Rachel McAdams|Robin...,Kevin Macdonald,Find The Truth,"Handsome, unflappable U.S. Congressman Stephen...",127,Action,Universal Pictures|StudioCanal|Andell Entertai...,4/17/2009,6.6,2009
1254,tt1893256,20000000,8352885,Redemption,Jason Statham|Agata Buzek|Vicky McClure|Lee As...,Steven Knight,All roads don't lead to salvation.,Homeless and on the run from a military court ...,100,Action|Thriller,Lionsgate,5/7/2013,5.7,2013
1122,tt0322330,26000000,110230332,Freaky Friday,Jamie Lee Curtis|Lindsay Lohan|Mark Harmon|Har...,Mark Waters,Mondays are manic. Wednesdays are wild. And Fr...,Mother and daughter bicker over everything -- ...,97,Comedy|Family|Fantasy,Walt Disney Pictures,8/3/2003,6.0,2003
1881,tt0213790,24000000,13700000,The Ladies Man,Tim Meadows|Karyn Parsons|Billy Dee Williams|J...,Reginald Hudlin,He's cool. He's clean. He's a love machine.,"Because of his salacious language, late-night ...",84,Comedy,SNL Studios,10/13/2000,5.4,2000

In [8]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов
# тут другие ваши предобработки колонок например:
# расчитываем прибыль как разницу сборов и доходов
data['profit'] = data['revenue'] - data['budget']
# разделяем строку жанров на список с запятыми и добавляем в конец ДФ
data['genres_list'] = data['genres'].str.split('|')
# разделяем строку режиссеров на список с запятыми и добавляем в конец ДФ
data['directors_list'] = data['director'].str.split('|')
data.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810,"[Action, Adventure, Science Fiction, Thriller]",[Colin Trevorrow]
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,"[Action, Adventure, Science Fiction, Thriller]",[George Miller]
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,"[Adventure, Science Fiction, Thriller]",[Robert Schwentke]
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225,"[Action, Adventure, Science Fiction, Fantasy]",[J.J. Abrams]
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360,"[Action, Crime, Thriller]",[James Wan]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [128]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
display(answers)

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [129]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(['budget'], ascending = [False]).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,"[Adventure, Action, Fantasy]",[Rob Marshall]

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [130]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [131]:
data.sort_values(['runtime'], ascending=[False]).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,"[Drama, History, War]",[Ronald F. Maxwell]

# 3. Какой из фильмов самый короткий (в минутах)?

In [132]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data.sort_values(['runtime']).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,"[Animation, Family]","[Stephen Anderson, Don Hall]"

# 4. Какова средняя длительность фильмов?

In [133]:
answers['4'] = '2. 110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [134]:
answers['5'] = '1. 107'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [135]:
answers['6'] = '5. Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале
data.loc[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,"[Action, Adventure, Fantasy, Science Fiction]",[James Cameron]

# 7. Какой фильм самый убыточный?

In [139]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data.loc[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [140]:
answers['8'] = '1. 1478'
data.loc[data['profit'] > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
genres_list             1478
directors_list          1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [141]:
answers['9'] = '4. The Dark Knight (tt0468569)'
data[data['revenue'] == data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,"[Drama, Action, Crime, Thriller]",[Christopher Nolan]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [142]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
data[data['profit'] == data[((data.release_year >= 2012) & (data.release_year <= 2014))].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,"[Action, Adventure, Western]",[Gore Verbinski]

# 11. Какого жанра фильмов больше всего?

In [143]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
data1 = data.copy()
# разбиваем список жанров на отдельные строки всего ДФ
data1 = data1.explode('genres_list')
data1 = data1['genres_list']
# считаем сколько жанров
data1.value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_list, dtype: int64

ВАРИАНТ 2

In [173]:
data2 = data.copy()
# разделяем список жанров список с заяпятыми
data2['genres'] = data2['genres'].apply(lambda x:x.split('|')) 
# разбиваем жанры на отдельные строки всего ДФ
data2 = data2.explode('genres')
# считаем сколько жанров
data2.genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [197]:
answers['12'] = '1. Drama'
# сортируем прибыльные фильмы
sort12 = data[data.profit > 0]
# разбиваем список жанров на отдельные строки всего ДФ
data12 = sort12.explode('genres_list')
data12 = data12['genres_list']
# считаем сколько жанров
data12.value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [198]:
answers['13'] = '5. Peter Jackson'
# разбиваем список режиссеров на отдельные строки всего ДФ
data2 = data.explode('directors_list')
# считаем сколько кассовых сборов
data2.groupby(['directors_list'])['revenue'].sum().sort_values(ascending = False)

directors_list
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [199]:
answers['14'] = '3. Robert Rodriguez'
# фильтруем только жанр Action
only_action = data[data.genres.str.contains('Action')].copy()
# разбиваем список режиссеров на отдельные строки всего ДФ
only_action['director'] = only_action['director'].str.split('|')
only_action = only_action.explode('director')
#считаем сколько фильмов порежиссерно
only_action.director.value_counts(ascending = False)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Rian Johnson          1
Phillip Noyce         1
Kevin Bray            1
Bruce Hunt            1
Rupert Wyatt          1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [156]:
answers['15'] = '3. Chris Hemsworth'

# фильтруем только 2012 год
only_2012 = data[(data.release_year == 2012)].copy()
only_2012['cast'] = only_2012['cast'].str.split('|')
# разбиваем список актеров на отдельные строки всего ДФ
only_2012 = only_2012.explode('cast')
#считаем сколько сборов поактерно
only_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head()

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [157]:
answers['16'] = '3. Matt Damon'
# фильтруем только высокобюджетные
only_mean = data.loc[data['budget'] > data['budget'].mean()].copy()
only_mean['cast'] = only_mean['cast'].str.split('|')
# разбиваем список актеров на отдельные строки всего ДФ
only_mean = only_mean.explode('cast')
#считаем сколько фильмов поактерно
only_mean.cast.value_counts(ascending = False)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Tom Cruise               15
Eddie Murphy             15
                         ..
Shaun Toub                1
Michael Lonsdale          1
AdriÃ¡n Alonso Barona     1
Rachel Hurd-Wood          1
Fergus Riordan            1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [158]:
answers['17'] = '2. Action'
# фильтруем только Nicolas Cage
only_Cage = data[data.cast.str.contains('Nicolas Cage')].copy()
# разбиваем список жанров на отдельные строки всего ДФ
only_Cage = only_Cage.explode('genres_list')
only_Cage = only_Cage['genres_list']
# считаем сколько жанров
only_Cage.value_counts(ascending = False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres_list, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [159]:
answers['18'] = '1. K-19: The Widowmaker'
# фильтруем только Paramount, затем где profit минимальный
data[data['profit'] == data[data.production_companies.str.contains('Paramount Pictures')].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_list,directors_list
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [160]:
answers['19'] = '5. 2015'
#считаем сколько сборов за год
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [161]:
answers['20'] = '1. 2014'
# фильтруем только Warner Bros
only_Warner = data[data.production_companies.str.contains('Warner Bros')].copy()
#считаем сколько сборов за год
only_Warner.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [195]:
answers['21'] = '4. Сентябрь'
data21 = data.copy()
# разделяем дату на список с запятыми
data21['release_date'] = data21['release_date'].apply(lambda x: x.split('/'))
# отделяем месяц от даты
data21['month'] = data21['release_date'].apply(lambda x: int(x[0]))
#считаем сколько помесячно
print(data21.month.value_counts())

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [200]:
answers['22'] = '2. 450'

# разделяем дату на список с запятыми
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
# отделяем месяц от даты
data['month'] = data['release_date'].apply(lambda x: int(x[0])) 
#считаем сколько помесячно
numbers_months =  data.month.value_counts()
#складываем индексы 6,7 и 8
print(numbers_months[6] + numbers_months[7] + numbers_months[8])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [180]:
answers['23'] = '5. Peter Jackson'

# разбиваем список режиссеров на отдельные строки всего ДФ
only_winter = data.explode('directors_list').copy()
# разделяем дату на список с запятыми
only_winter['release_date'] = only_winter['release_date'].apply(lambda x: x.split('/'))
# отделяем месяц от даты
only_winter['month'] = only_winter['release_date'].apply(lambda x: int(x[0]))
# отделяем индексы 1,2 и 12
only_winter = only_winter.loc[only_winter['month'].isin(['1','2','12'])]
#считаем сколько порежиссерно
only_winter['directors_list'].value_counts().head()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Shawn Levy           4
Name: directors_list, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [181]:
answers['24'] = '5. Four By Two Productions'

data_len = data.copy()
# разделяем студии на список с запятыми
data_len['production_companies'] = data_len['production_companies'].str.split('|')
data_len = data_len.explode('production_companies')
# преобразуем названия фильмов в длину символов
data_len['title_length'] = data_len['original_title'].apply(len)
#считаем сколько символов постудийно
data_len.groupby(['production_companies'])['title_length'].mean().sort_values(ascending = False).head()

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [182]:
answers['25'] = '3. Midnight Picture Show'

data_len = data.copy()
# разделяем студии на список с запятыми
data_len['production_companies'] = data_len['production_companies'].str.split('|')
data_len = data_len.explode('production_companies')
# преобразуем описания фильмов в длину слов
data_len['overview_length'] = data_len['overview'].apply(lambda x: len(x.split(' ')))
#считаем сколько слов постудийно
data_len.groupby(['production_companies'])['overview_length'].mean().sort_values(ascending = False).head()

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
Heineken Branded Entertainment      161.0
98 MPH Productions                  159.0
Brookwell-McNamara Entertainment    156.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [183]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data.loc[data['vote_average'] > data.quantile(0.99, numeric_only = True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [8]:
answers['27'] = '5. Daniel Radcliffe, Rupert Grint'
import collections

actor_pairs = data.copy()
# разделяем актеров на список с запятыми
actor_pairs['cast'] = actor_pairs['cast'].str.split('|')
# возвращаем список со всеми возможными комбинациями актеров по 2е
actor_pairs['pairs'] = actor_pairs['cast'].apply(lambda s: list(combinations(s, 2)))
# разбиваем список пар на отдельные строки всего ДФ
actor_pairs = actor_pairs.explode('pairs')
# выводим самые часто встречающиеся
collections.Counter(actor_pairs['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [215]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [203]:
# и убедиться что ни чего не пропустил)
len(answers)

27